*{
    margin:0px;
    padding:0px;
}
.card{
    height: 700px;
}
.button-box{
    display: flex;
    flex-direction: column;
 
}
.button-box button{
    margin-top: 0px;
}
.card-img-top{
    height:250px;
   width:250px;
}
.image-box{
    display: flex;
    justify-content: center;
}
.price{
    color: red;
}
button.btn.btn-warning {
    width: 100%;
}